.site-nav {
  z-index: $z-index-2;
  position: absolute;
  top: 0;
  right: 0;
  ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: $spacing-6;
    margin-right: $spacing-9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    & li.nav-list-item {
      line-height: $font-size-7;
      display: flex;
      margin: 0 $spacing-2;
      a {
        padding: 0 $spacing-2;
        text-decoration: none;
        font-size: $font-size-4;
      }
    }
  }
}
