.page-index {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  button {
    padding: $spacing-1 $spacing-6;
    font-size: $font-size-4;
    line-height: $font-size-7;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border: 1px solid;
    border-color: $primary;
    background: #fff;
    color: $primary;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 100%;
      left: 0;
      z-index: -1;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &::before {
      background: darken($primary, 5);
    }

    &::after {
      background: $primary;
    }

    &:hover {
      color: #fff;
      &::after,
      &::before {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
      &::after {
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
      }
    }
  }

  main {
    .section {
      min-height: 100vh;
      width: 100%;
      &.hero-image-background {
        position: relative;
        height: calc(100vh + 15vw);
        margin-top: 0;
        padding-top: 15rem;
        overflow: hidden;
        .image-background-container,
        .overlay,
        .image-background {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

        .heading {
          position: relative;
          z-index: 2;
          height: 100%;
          width: 75vw;
          margin-left: $spacing-9;
          color: $white;
          overflow: hidden;

          h1 {
            font-size: $font-size-11;
            font-family: $fortescue-font;
            font-weight: bold;
          }
          p,
          a {
            font-size: $font-size-4;
            line-height: $font-size-7;
            margin: $spacing-4 $spacing-5 0 0;
            max-width: $spacing-13;
          }

          p {
            width: 100%;
          }

          a {
            display: inline-block;
            color: $primary;
            text-decoration: none;
          }
        }

        .image-background-container {
          .overlay {
            z-index: 1;
            opacity: 0.8;
            background: radial-gradient(at 0% 0, black, transparent 70%),
              linear-gradient(0deg, black, transparent 100%) bottom;
          }
          .image-background {
            height: 100%;
            width: 100%;
            & img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              transform-origin: 50% 50%;
              transition-duration: 150ms;
              transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }
          }
        }
      }

      &.for-builders {
        padding-top: $spacing-9;
        position: relative;
        margin-bottom: $spacing-11;
        .header-wrapper {
          margin-left: $spacing-9;
          margin-bottom: $spacing-8;
          h2 {
            line-height: $font-size-8;
            font-size: $font-size-7;
          }
          p {
            line-height: $font-size-5;
            font-size: $font-size-4;
          }
        }
        .article-wrapper {
          h3 {
            margin-left: 43%;
            font-size: $font-size-9;
            font-style: italic;
            margin-bottom: $spacing-8;
            width: 50%;
          }
          .details {
            width: 33%;
            margin-left: 50%;
            p {
              font-size: $font-size-5;
              font-weight: lighter;
              margin-bottom: $spacing-7;
            }
          }
        }
        .background-wrapper {
          position: absolute;
          top: $spacing-11;
          left: 0;
          z-index: -1;
          width: 35%;
          height: 90%;
          picture,
          img {
            height: 100%;
            width: 100%;
          }
          img {
            object-fit: cover;
            object-position: 50% 50%;
          }
        }
      }

      &.for-home-owners {
        padding-left: $spacing-9;
        position: relative;
        margin-bottom: $spacing-11;
        display: flex;
        flex-direction: column;
        .header-wrapper {
          width: 30%;
          margin-left: 60%;
          margin-bottom: $spacing-6;
          h2 {
            line-height: $font-size-8;
            font-size: $font-size-7;
          }
          p {
            line-height: $font-size-5;
            font-size: $font-size-4;
          }
        }
        .article-wrapper {
          position: relative;
          color: $white;
          min-height: calc(105vh);
          .article-background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -2;
            background-color: darken($primary, 10);
          }

          h3 {
            margin-top: $spacing-9;
            margin-left: 35%;
            font-weight: lighter;
            font-size: $font-size-5;
            margin-bottom: $spacing-8;
            width: 50%;
          }

          .details {
            margin-top: $spacing-9;
            margin-left: 20%;
            margin-bottom: $spacing-7;
            p {
              font-family: $serif-font;
              font-size: $font-size-8;
              font-style: italic;
              font-weight: thin;
              margin-bottom: $spacing-8;
              width: 50%;
            }
            button {
              margin-left: $spacing-8;
              border-color: $white;
              &:hover {
                color: $black;
                box-shadow: 1px 1px 0 0 darken($primary, 20);
              }
              &::after {
                background-color: $white;
              }
              &::before {
                background-color: $black;
              }
            }
          }
        }
        .image-wrapper {
          position: absolute;
          top: $spacing-12;
          right: $spacing-6;
          overflow: hidden;
          height: 80%;
          width: 30%;
          z-index: -1;
          picture,
          img {
            height: 100%;
            width: 100%;
          }
          img {
            object-fit: cover;
            object-position: left;
          }
        }
      }

      &.for-renters {
        position: relative;
        min-height: 100vh;
        margin-bottom: $spacing-11;
        .header-wrapper {
          width: 30%;
          margin-left: $spacing-9;
          margin-bottom: $spacing-6;
          h2 {
            line-height: $font-size-8;
            font-size: $font-size-7;
          }
          p {
            line-height: $font-size-5;
            font-size: $font-size-4;
          }
        }
        .article-wrapper {
          color: $white;
          h3 {
            margin: $spacing-9 auto;
            font-size: $font-size-9;
            font-style: italic;
            margin-bottom: $spacing-8;
            width: 50%;
          }
          .details {
            width: 33%;
            margin-left: 50%;
            p {
              font-size: $font-size-5;
              font-weight: lighter;
              margin-bottom: $spacing-7;
            }
            button {
              margin-left: $spacing-8;
              border-color: $black;
              color: $black;
              &:hover {
                color: $red;
              }
              &::after {
                background-color: $white;
              }
              &::before {
                background-color: $red;
              }
            }
          }
        }
        .image-wrapper {
          position: absolute;
          top: $spacing-9;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          .scene {
            height: 100%;
            background: $primary;
            path:first-child {
              fill: $secondary;
            }

            path:nth-child(2) {
              fill: $black;
            }

            path:nth-child(3) {
              fill: $red;
            }

            path:nth-child(4) {
              fill: $blue;
            }
          }
        }
      }
    }
  }
  footer.site-footer {
    .wrapper {
      min-height: 70vh;
      width: 100%;
      background-color: black;
      padding: $spacing-9;

      .copyright {
        color: white;
        position: relative;
        top: 4rem;
        text-align: center;
      }
      .section {
        width: 20%;
        display: inline-block;
        color: $grey;
        position: relative;

        address {
          line-height: 1.5rem;
          margin-bottom: 1.5rem;
          color: white;
        }

        .logo {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
        }

        div {
          margin-bottom: $spacing-5;
          font-size: $font-size-3;
          font-weight: normal;
          cursor: pointer;
          transition: ease-in 0.5s all;

          a {
            text-decoration: none;
            color: $grey;

            &:hover {
              text-decoration: underline;
              color: white;
            }
          }
        }
      }
    }
  }
}
