@import "./reset.scss";
@import "./variables.scss";

body {
  background-color: white;
  color: black;
}

.app-intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  height: 100vh;
  width: 100vw;
  background: black;
  pointer-events: none;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
