$fortescue-font: "fortescue";
$sans-serif-font: "IBM Plex Sans Condensed", sans-serif;
$serif-font: "Vesper Libre", serif;

$default-font-size: 1rem; // assuming 16px

$font-size-0: 0.75rem; // 12px
$font-size-1: 0.875rem; // 14px
$font-size-2: 1rem; // 16px
$font-size-3: 1.125rem; // 18px
$font-size-4: 1.25rem; // 20px
$font-size-5: 1.5rem; // 24px
$font-size-6: 1.875rem; // 30px
$font-size-7: 2.25rem; // 36px
$font-size-8: 3rem; // 48px
$font-size-9: 3.75rem; // 60px
$font-size-10: 4.45rem; // 72px
$font-size-11: 5.5rem; // 88px

$spacing-0: 4px;
$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 16px;
$spacing-4: 24px;
$spacing-5: 32px;
$spacing-6: 48px;
$spacing-7: 64px;
$spacing-8: 96px;
$spacing-9: 128px;
$spacing-10: 160px;
$spacing-11: 192px;
$spacing-12: 256px;
$spacing-13: 384px;
$spacing-14: 512px;
$spacing-15: 768px;

$z-index-0: -1;
$z-index-1: 1;
$z-index-2: 1000;
$z-index-3: 1010;

$black: #211c21;
$white: #ffffff;
$grey: #f2f2f2;
$primary: #05a8aa;
$secondary: #f7dba7;
$red: #e6524c;
$blue: #4f79e3;
$grey: #717171;
$lightGrey: #f8f5f5;
