@use "@styles/base/_color";
@use "@styles/base/_typography";
@use "@styles/helpers/_mixins";
@use "@styles/helpers/_variables";
@import "include-media/dist/_include-media";

.burger-menu {
  z-index: variables.$z-index-2;
  position: absolute;
  top: variables.$spacing-6;
  right: variables.$spacing-6;
  overflow: hidden;
  cursor: pointer;
  @include mixins.size(60px);

  .background,
  .frame {
    @include mixins.absolute-full;
    z-index: 1;
  }

  .menu {
    z-index: 2;
    @include mixins.absolute-full;

    &--closed {
      .line-wrap {
        position: absolute;
        overflow: hidden;
        height: 1px;
        width: 18px;
        left: 21px;
        transform-origin: left;
        background-color: color.$black-5;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        .line {
          @include mixins.absolute-full;
          background-color: variables.$black;
          transform: translateX(100%);
        }
      }

      @for $i from 0 to 3 {
        .line-wrap:nth-child(#{$i + 1}) {
          top: 26px + ($i * 4);
        }
      }
    }

    &--opened {
      .line-wrap {
        height: 18px;
        width: 1px;
        left: 30px;
        top: 21px;
        position: absolute;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        .line {
          @include mixins.absolute-full;
          transform-origin: center;
          backface-visibility: hidden;
        }
        .line--background {
          z-index: 0;
          background-color: black;
        }
        .line--foreground {
          z-index: 1;
          background-color: color.$black-5;
        }
      }

      .line-wrap:first-child {
        transform: rotate(-45deg);
      }
      .line-wrap:nth-child(2) {
        transform: rotate(45deg);
      }
    }
  }

  .frame {
    line {
      stroke-width: 5;
      stroke: color.$black-24;
      fill: none;
      stroke-dasharray: 60;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  &:hover,
  &--active {
    .frame {
      line {
        stroke: variables.$red;
      }
      line:first-child {
        transform: translateX(-120px);
      }
      line:nth-child(2) {
        transform: translateY(-120px);
      }
      line:nth-child(3) {
        transform: translateX(120px);
      }
      line:last-child {
        transform: translateY(120px);
      }
    }
  }

  &:hover,
  &--hover {
    .frame {
      line {
        stroke-width: 10;
        stroke-dasharray: 70 40;
      }
      line:first-child {
        transform: translateX(-60px);
      }
      line:nth-child(2) {
        transform: translateY(-60px);
      }
      line:nth-child(3) {
        transform: translateX(60px);
      }
      line:last-child {
        transform: translateY(60px);
      }
    }
  }
}
