// fire opal #E6524C
$red-1: rgb(252, 238, 237);
$red-2: rgb(250, 220, 219);
$red-3: rgb(247, 203, 201);
$red-4: rgb(245, 186, 184);
$red-5: rgb(242, 168, 166);
$red-6: rgb(240, 151, 148);
$red-7: rgb(237, 134, 130);
$red-8: rgb(235, 116, 112);
$red-9: rgb(232, 99, 94);
$red-10: rgb(230, 82, 76);
$red-11: rgb(227, 64, 59);
$red-12: rgb(224, 47, 41);
$red-13: rgb(214, 37, 31);
$red-14: rgb(196, 34, 28);
$red-15: rgb(179, 31, 25);
$red-16: rgb(161, 28, 23);
$red-17: rgb(143, 24, 20);
$red-18: rgb(125, 21, 18);
$red-19: rgb(107, 18, 15);
$red-20: rgb(89, 15, 13);
$red-21: rgb(71, 12, 10);
$red-22: rgb(54, 9, 8);
$red-23: rgb(36, 6, 5);
$red-24: rgb(18, 3, 3);

// black raisin: #211C21
$black-1: rgb(246, 244, 246);
$black-2: rgb(236, 233, 236);
$black-3: rgb(227, 222, 227);
$black-4: rgb(217, 211, 217);
$black-5: rgb(208, 200, 208);
$black-6: rgb(199, 189, 199);
$black-7: rgb(189, 178, 189);
$black-8: rgb(180, 167, 180);
$black-9: rgb(171, 156, 171);
$black-10: rgb(161, 145, 161);
$black-11: rgb(152, 134, 152);
$black-12: rgb(142, 123, 142);
$black-13: rgb(132, 113, 132);
$black-14: rgb(121, 103, 121);
$black-15: rgb(110, 94, 110);
$black-16: rgb(99, 84, 99);
$black-17: rgb(88, 75, 88);
$black-18: rgb(77, 66, 77);
$black-19: rgb(66, 56, 66);
$black-20: rgb(55, 47, 55);
$black-21: rgb(44, 38, 44);
$black-22: rgb(33, 28, 33);
$black-23: rgb(22, 19, 22);
$black-24: rgb(11, 9, 11);

// blue crayola #4f79e3
$blue-1: rgb(237, 242, 252);
$blue-2: rgb(220, 228, 249);
$blue-3: rgb(202, 215, 247);
$blue-4: rgb(184, 201, 244);
$blue-5: rgb(167, 188, 241);
$blue-6: rgb(149, 174, 238);
$blue-7: rgb(131, 161, 236);
$blue-8: rgb(114, 148, 233);
$blue-9: rgb(96, 134, 230);
$blue-10: rgb(79, 121, 227);
$blue-11: rgb(61, 107, 225);
$blue-12: rgb(43, 94, 222);
$blue-13: rgb(33, 84, 212);
$blue-14: rgb(30, 77, 194);
$blue-15: rgb(28, 70, 176);
$blue-16: rgb(25, 63, 159);
$blue-17: rgb(22, 56, 141);
$blue-18: rgb(19, 49, 124);
$blue-19: rgb(17, 42, 106);
$blue-20: rgb(14, 35, 88);
$blue-21: rgb(11, 28, 71);
$blue-22: rgb(8, 21, 53);
$blue-23: rgb(6, 14, 35);
$blue-24: rgb(3, 7, 18);

// vergedris: 05A8AA
$aqua-1: rgb(235, 254, 254);
$aqua-2: rgb(215, 253, 254);
$aqua-3: rgb(196, 252, 253);
$aqua-4: rgb(176, 251, 253);
$aqua-5: rgb(156, 250, 252);
$aqua-6: rgb(136, 249, 251);
$aqua-7: rgb(116, 248, 251);
$aqua-8: rgb(97, 248, 250);
$aqua-9: rgb(77, 247, 249);
$aqua-10: rgb(57, 246, 249);
$aqua-11: rgb(37, 245, 248);
$aqua-12: rgb(18, 244, 248);
$aqua-13: rgb(7, 234, 237);
$aqua-14: rgb(7, 214, 218);
$aqua-15: rgb(6, 195, 198);
$aqua-16: rgb(5, 168, 170);
$aqua-17: rgb(5, 156, 158);
$aqua-18: rgb(4, 136, 139);
$aqua-19: rgb(4, 117, 119);
$aqua-20: rgb(3, 97, 99);
$aqua-21: rgb(2, 78, 79);
$aqua-22: rgb(2, 58, 59);
$aqua-23: rgb(1, 39, 40);
$aqua-24: rgb(1, 19, 20);

// emerald: #c3eff8
$green-1: rgb(239, 250, 243);
$green-2: rgb(224, 245, 231);
$green-3: rgb(208, 241, 218);
$green-4: rgb(193, 236, 206);
$green-5: rgb(177, 231, 194);
$green-6: rgb(161, 226, 182);
$green-7: rgb(146, 221, 170);
$green-8: rgb(130, 217, 158);
$green-9: rgb(115, 212, 145);
$green-10: rgb(99, 207, 133);
$green-11: rgb(83, 202, 121);
$green-12: rgb(68, 197, 109);
$green-13: rgb(58, 187, 99);
$green-14: rgb(53, 172, 90);
$green-15: rgb(48, 156, 82);
$green-16: rgb(43, 140, 74);
$green-17: rgb(38, 125, 66);
$green-18: rgb(34, 109, 58);
$green-19: rgb(29, 94, 49);
$green-20: rgb(24, 78, 41);
$green-21: rgb(19, 62, 33);
$green-22: rgb(14, 47, 25);
$green-23: rgb(10, 31, 16);
$green-24: rgb(5, 16, 8);

// peach: #F7DBA7
$yellow-1: rgb(253, 247, 236);
$yellow-2: rgb(252, 240, 218);
$yellow-3: rgb(250, 232, 199);
$yellow-4: rgb(247, 219, 167);
$yellow-5: rgb(246, 217, 162);
$yellow-6: rgb(245, 209, 143);
$yellow-7: rgb(243, 201, 124);
$yellow-8: rgb(241, 194, 106);
$yellow-9: rgb(239, 186, 87);
$yellow-10: rgb(238, 178, 68);
$yellow-11: rgb(236, 171, 50);
$yellow-12: rgb(234, 163, 31);
$yellow-13: rgb(224, 153, 21);
$yellow-14: rgb(205, 140, 19);
$yellow-15: rgb(187, 127, 17);
$yellow-16: rgb(168, 115, 16);
$yellow-17: rgb(149, 102, 14);
$yellow-18: rgb(131, 89, 12);
$yellow-19: rgb(112, 76, 10);
$yellow-20: rgb(93, 64, 9);
$yellow-21: rgb(75, 51, 7);
$yellow-22: rgb(56, 38, 5);
$yellow-23: rgb(37, 25, 3);
$yellow-24: rgb(19, 13, 2);

// battleship grey: #858585
$grey-1: rgb(245, 245, 245);
$grey-2: rgb(235, 235, 235);
$grey-3: rgb(224, 224, 224);
$grey-4: rgb(214, 214, 214);
$grey-5: rgb(204, 204, 204);
$grey-6: rgb(194, 194, 194);
$grey-7: rgb(184, 184, 184);
$grey-8: rgb(173, 173, 173);
$grey-9: rgb(163, 163, 163);
$grey-10: rgb(153, 153, 153);
$grey-11: rgb(143, 143, 143);
$grey-12: rgb(133, 133, 133);
$grey-13: rgb(122, 122, 122);
$grey-14: rgb(112, 112, 112);
$grey-15: rgb(102, 102, 102);
$grey-16: rgb(92, 92, 92);
$grey-17: rgb(82, 82, 82);
$grey-18: rgb(71, 71, 71);
$grey-19: rgb(61, 61, 61);
$grey-20: rgb(51, 51, 51);
$grey-21: rgb(41, 41, 41);
$grey-22: rgb(31, 31, 31);
$grey-23: rgb(20, 20, 20);
$grey-24: rgb(10, 10, 10);

$white-1: rgb(255, 255, 255);
