$default-font-family: -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

$font-family-title: "Playfair Display", serif !default;
$font-family-content-1: "Vesper Libre", serif !default;
$font-family-content-2: "IBM Plex Sans Condensed", sans-serif !default;
